################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/x64/Debug
/core_old.cpp
/core_old.h
/x64/Release
